{% extends 'layout.html' %}

{% block title %}Chat{% endblock %}

{% block head %}
{% parent %}
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/client2.js"></script>
{% endblock %}

{% block content %}
<div id="messages">
    <ul></ul>
</div>
<div id="welcome">
    <span class="select-nick">Введите ник:</span>
    <span class="send-message" hidden>Текст сообщения в чат:</span>
    <div class="clear"></div>
</div>
<input type="text" id="input" autofocus><input type="submit" id="send" value="Send">
{% endblock %}