body{
    margin: 0 auto;
}

a {
    color: #007cb0;
}
ul {
    list-style: none;
}
header{
    width: 100%;
    background: #1F6F90;
    height: 80px;
}
header a{
   color: #fff;
}
header .header_text{
    padding-top: 20px;
}
header h1{
    margin: 0;
}
header .logo{
    width: 200px;
    height: 100px;
    margin-right: 40px;
    float: left;
    background: url("/images/socket.io-logo.png") no-repeat;
    background-size: contain;
}
header .menu{
    float: left;
}
.content {
    clear: both;
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 1px 3px #ccc;
    border-top: 2px solid #ccc;
}
h2{
    padding: 10px;
    background: linear-gradient(left, #E7EEF0 0%,#fff 70%);
    background: -webkit-linear-gradient(left, #E7EEF0 0%,#fff 70%);
}
#messages {
    width: 590px;
    height: 290px;
    border: 1px solid rgb(192, 192, 192);
    padding: 5px;
    margin-bottom: 5px;
    font: 11pt 'Palatino Linotype';
    overflow: auto;
}
div.nick_name{
    background: #b6b6b6;
    border: 1px solid black;
    float: left;
    padding: 2px 3px;
}
#input {
    width: 400px;
}

#send {
    width: 50px;
}


.time {
    color: rgb(144, 144, 144);
    font: 8pt 'Courier New';
}
.nick {
    color: rgb(144, 22, 19);
    font: 12pt 'Courier New';
}
.text {
    color: rgb(15, 16, 144);
    font: 10pt 'Courier New';
}

.system {
    color: rgb(165, 42, 42);
}

